.form-modal-overhead--header {
  display: flex;
  font-size: 2em;
  justify-content: flex-start;
  min-height: 1.5em;
  align-items: center;
  color: var(--subHeadingColor);
  font-family: var(--headingFont);
  padding: 1em 1em 0.5em 1em;
}