.filter {
  display: flex;
  background-color: var(--colorWhite);
  width: 85%;
  justify-content: space-between;
  margin: 1em auto;
  padding: 3em 0em;
  font-size: 1em;
  border-radius: 0.4em;

  &--heading {
    color: var(--headingColor);
    margin-top: -0.5em;
    margin-right: auto;
    margin-left: 1em;
    font-size: 1.4em;
  }

  &--date {
    display: flex;

    &-range__start {
      padding: 0.5em 1em;
      border: 1px solid var(--themeBlack);
      border-radius: 1.2em;
      margin: 0 1em;
      position: relative;
      cursor: pointer;

      & > i {
        padding-right: 0.5em;
      }
      &::before {
        content: "Date Range";

        font-size: 0.8em;
        position: absolute;
        top: 20%;
        left: -55%;
      }
    }

    &-range__end {
      padding: 0.5em 1em;
      border: 1px solid var(--themeBlack);
      border-radius: 1.2em;
      margin: 0 1em;
      position: relative;
      cursor: pointer;

      & > i {
        padding-right: 0.5em;
      }

      &::before {
        content: "to";
        font-size: 0.8em;
        position: absolute;
        top: 20%;
        left: -15%;
      }
    }
  }
  &--custom-range {
    padding: 0.5em 1em;
    border: 1px solid var(--themeBlack);
    border-radius: 1.2em;
    cursor: pointer;

    & > i {
      padding-left: 0.5em;
    }
  }
  &--export {
    padding: 0.5em 1em;
    border: 1px solid var(--themeBlack);
    border-radius: 1.2em;
    margin: 0 1em;
    cursor: pointer;

    & > i {
      padding-left: 0.5em;
    }
  }
}

@media (max-width: 1200px) {
  .filter {
    flex-direction: column;
    align-items: center;
  }
  .filter > * {
    margin: 0.5em;
  }
}
@media (max-width: 992px) {
  .filter--date {
    flex-direction: column;
  }
  .filter--date-range__start {
    margin: 1em;
  }
  .filter--date-range__end {
    margin: 1em;
  }
}
.box-graph {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;

  width: 85%;
  background: var(--backColor);
  margin: 1em auto;
  padding: 2em 0em;
  border-radius: 0.5em;

  &__sub-box {
    background-color: var(--colorWhite);
    min-height: 10em;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s ease-in;

    &:hover {
      border: 2px solid var(--colorBlack85);
    }
    &--text {
      flex: 1 1;
      border-bottom: 2px solid transparent;
      align-self: flex-start;
      font-size: 1em;
      color: var(--colorBlack85);
    }

    &--unit {
      flex: 1 1;
      align-self: center;
      font-size: 2em;
      margin-right: 4em;
      font-weight: 300;
    }
    &--map {
      clip-path: polygon(13% 69%, 44% 74%, 75% 52%, 100% 100%, 0 100%);
      background-color: var(--secondaryColor);
      flex: 2;
      transition: transform 0.4s ease-in;
      position: relative;

      &:hover {
        background-color: var(--headingColor);
      }
    }
  }
}
@media (max-width: 1200px) {
  .box-graph {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.analysis {
  width: 85%;
  margin: 0 auto;
  background: var(--BackColor);
  padding: 1em;
  display: flex;

  &__head {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: var(--colorWhite);
    padding: 1em 1em;
    border-radius: 0.5em;
    & > h3 {
      margin: 0.5em 0.5em 1em;
      line-height: 1.5em;
    }

    &-sub {
      display: flex;
      justify-content: space-between;
      padding: 0.5em;
      color: var(--colorBlack85);
      transition: transform 0.2s ease-in;
      cursor: pointer;
      font-size: 0.9em;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
@media (max-width: 1200px) {
  .analysis {
    flex-direction: column;
  }
  .analysis > * {
    margin: 1em 0 !important;
  }
}
